@font-face {
  font-family: 'Inter Bold';
  src: url('assets/fonts/Inter-Bold.ttf') format('woff2');
}

@font-face {
  font-family: 'Inter ExtraBold';
  src: url('assets/fonts/Inter-ExtraBold.ttf') format('woff2');
}

@font-face {
  font-family: 'Inter Medium';
  src: url('assets/fonts/Inter-Medium.ttf') format('woff2');
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('assets/fonts/Inter-SemiBold.ttf') format('woff2');
}

/* Start reset */
/* https://piccalil.li/blog/a-more-modern-css-reset/*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* reset end */
.container {
  max-width: 73.125rem;
  margin: auto;
}

body {
  font-family: Inter;
  font-size: 1.125rem;
}

.hero {
  background-color: hsl(224, 95%, 55%);
  height: 92vh;
  color: hsl(0, 0%, 100%);
  padding-top: 30px;
}

.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_nav ul {
  display: flex;
  gap: 2.188rem;
  list-style: none;

}

.main_nav a {
  text-decoration: none;
}

.registration {
  display: flex;
  align-items: center;
  gap: 2.188rem;
}

.logo {
  color: hsl(0, 0%, 100%);
  font-size: 2rem;
  font-family: Inter Bold;
}

.login {
  color: hsl(0, 0%, 100%);
}

.login:hover,
.main_nav li a:hover,
.logo:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.button {
  color: black;
  background-color: hsl(0, 0%, 100%);
  padding: 1.125rem 2.688rem 1.125rem 2.75rem;
  border-radius: 0.313rem;
}

.button:hover {
  background-color: hsl(224, 95%, 55%);
  color: hsl(0, 0%, 100%);
  border: white solid 0.063rem;
}

.headline {
  width: 756px;
  margin: auto;
  text-align: center;
  margin-top: 3.75rem;
}

.headline h1 {
  font-family: Inter ExtraBold;
  font-size: 5.313rem;
  margin-bottom: 1.875rem;
}

.headline p {
  margin-bottom: 1.875rem;
}

.hero_image {
  margin: auto;
  margin-top: 0.625rem;
}

.social_nav {
  position: absolute;
  top: 34.625rem;
  left: 3.125rem;
}

.social_nav a {
  color: black;
}